:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
}

h2 {
    text-align: center;
}
.container {
    min-height: 86vh;
    background-color: aliceblue;
}

.myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myInput {
    width: 40%;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 8px 12px;
    background-color: rgb(161, 206, 248);
    font-weight: bold;
    font-size: 1.3rem;
}

.btn {
    padding: 18px 32px;
    background-color: hsl(205, 63%, 48%);
    border-radius: 8px;
    margin-bottom: 5px;
}
.btn:hover {
    cursor: pointer;
    background: hsl(205, 89%, 21%);
    color: white;
}